@import "var"
@import "font"


*
  letter-spacing: 1px
  font-family: 'Orbitron', 'Noto Sans TC', sans-serif
  //color: white

\:root
  --q-color-primary: #{$color-main}


html, body, .screen
  width: 100%
  height: 100%
  overflow: hidden
  background: $color-bg


::selection
  background-color: $color-orange
  color: white


::-webkit-scrollbar
  width: 5px
  height: 5px
  transition-duration: 0.4s
::-webkit-scrollbar-track
  transition-duration: 0.4s
  background: rgba($color-cyan, 0.1)
  border-radius: 999px
::-webkit-scrollbar-thumb
  background: rgba($color-cyan, 0.8)
  transition-duration: 0.4s
  border-radius: 999px
::-webkit-scrollbar-thumb:hover 
  transition-duration: 0.4s
  background: rgba($color-cyan, 0.3)

[v-cloak] 
  display: none !important

.d-none
  display: none !important

.pe-none
  pointer-events: none !important
  
.w-10px
  width: 10px !important
.w-20px
  width: 20px !important
.w-30px
  width: 30px !important
.w-40px
  width: 40px !important
.w-100px
  width: 100px !important
.w-200px
  width: 200px !important

.w-30
  width: 30% !important
.w-40
  width: 40% !important
.w-50
  width: 50% !important
.w-60
  width: 60% !important
.w-100
  width: 100% !important

.h-auto
  height: auto !important
.h-100
  height: 100% !important


.mt-10px
  margin-top: 10px !important

.mb-10px
  margin-bottom: 10px !important

.mr-5px
  margin-right: 5px !important
.mr-10px
  margin-right: 10px !important


.ml-5px
  margin-left: 5px !important
.ml-10px
  margin-left: 10px !important
.ml-20px
  margin-left: 20px !important


.fw-600
  font-weight: 600 !important
.fw-700
  font-weight: 700 !important

.fs-12
  font-size: 12px !important
.fs-14
  font-size: 14px !important
.fs-16
  font-size: 16px !important
.fs-18
  font-size: 18px !important
.fs-20
  font-size: 20px !important
.fs-24
  font-size: 24px !important

.color-red
  color: $color-red

.word-break
  word-wrap: break-word !important
  white-space: pre !important
 

.flex-none
  flex: none !important
.flex-0d1
  flex: 0.1 !important
.flex-0d2
  flex: 0.2 !important
.flex-0d3
  flex: 0.3 !important
.flex-0d4
  flex: 0.4 !important
.flex-0d5
  flex: 0.5 !important
.flex-1
  flex: 1 !important
.flex-2
  flex: 2 !important
.flex-2d5
  flex: 2.5 !important
.flex-3
  flex: 3 !important
.flex-4
  flex: 4 !important


.ta-l
  text-align: left !important
.ta-r
  text-align: right !important
.ta-c
  text-align: center !important

.opacity-0d3
  opacity: 0.3
.opacity-0d5
  opacity: 0.5
.opacity-0d8
  opacity: 0.8