mixin setter-label()
  .label(:msg="setter.key"
         :class="setter.class")
    | {{setter.name}}
    q-tooltip(transition-show="jump-up"
              transition-hide="jump-up"
              anchor="center right" self="center left"
              :content-class=`['fs-14',  'word-break', 'border-effect']`)
      | {{setter.key}}<br>{{setter.description}}

mixin ctrl-item-label()
  .label
    | ▸ {{param.name}}
    q-tooltip(transition-show="jump-up"
              transition-hide="jump-up"
              anchor="center right" self="center left"
              :content-class=`['fs-14',  'word-break', 'border-effect']`)
      | {{param.key}}<br>{{param.description}}

mixin ctrl-sub-item-tooltip
  q-tooltip(transition-show=""
            transition-hide=""
            anchor="center right" self="center left"
            :content-class=`['fs-14',  'word-break', 'border-effect',
                            {'d-none': setters[i].params[key].class !== 'err'},
                            setters[i].params[key].class]`)
    | {{setters[i].params[key].msg}}

mixin btn-shapes
  .btn-shape.rt
  .btn-shape.rb
  .btn-shape.lt
  .btn-shape.lb



template
  .setter-params(v-if="status.err === ''")
    transition-group(name="list" tag="div").setter-form
      .setter-item(v-for="(setter, i) in setterList"
                   :key="setter.key + '-' + i")
        hr(v-if="i % 5 === 0 && i !== 0")
        // 不須參數
        .setter-section(v-if="setter.noParams")
          .setter-label
            +setter-label()

            transition(name="btn" mode="out-in")
              .btn(@click="sendSetting(setters[i], setter)"
                   :class="{'lock': !isPortOpen}"
                   :key="setters[i].timestamp")
                +btn-shapes
          
        // 需要參數
        .setter-section.h(v-else)
          .c-col.w-100.mr-5px
            input(v-model="setters[i].isMinify"
                  type="checkbox" :id="path + '-' + setter.key + '-' + i" checked).accordion
            label(:for="path + '-' + setter.key + '-' + i").setter-label.accordion
              +setter-label()
            
            .ctrl
              .ctrl-section(v-for="(param, key) in setter.params")
                // 單一數值
                .ctrl-item(v-if="param.ctrl === 'Number'")
                  +ctrl-item-label()
                  .ctrl-sub-item(:class="setters[i].params[key].class")
                    input(v-model.trim="setters[i].params[key].value"                          
                          type="text" @change="emitSetterChange()").number
                    +ctrl-sub-item-tooltip

                // select 下拉選單
                .ctrl-item(v-else-if="param.ctrl === 'Select'")
                  +ctrl-item-label()
                  .ctrl-sub-item(:class="setters[i].params[key].class")
                    select(v-model="setters[i].params[key].value"
                          type="text" @change="emitSetterChange()")
                      option(v-for="item in param.list"
                             :value="item.val")
                        | {{item.description}}
                    +ctrl-sub-item-tooltip

                // 長矩陣
                .ctrl-item.v(v-else-if=`param.ctrl === 'Array'
                                        && param.max.length >= 5`)
                  +ctrl-item-label()
                  .ctrl-sub-item(:class="setters[i].params[key].class")
                    input(v-model.trim="setters[i].params[key].value"
                          type="text" @change="emitSetterChange()").l-array
                    +ctrl-sub-item-tooltip

                // 矩陣
                .ctrl-item(v-else-if="param.ctrl === 'Array'")
                  +ctrl-item-label()
                  .ctrl-sub-item(:class="setters[i].params[key].class")
                    input(v-model.trim="setters[i].params[key].value"
                          type="text" @change="emitSetterChange()").array
                    +ctrl-sub-item-tooltip

                .ctrl-item(v-else)
                  .label.err
                    | ▸ 未定義參數

          transition(name="btn" mode="out-in")
            .btn(@click="sendSetting(setters[i], setter)"
                 :class="{'lock': !isPortOpen}"
                 :key="setters[i].timestamp")
              +btn-shapes


  .setter-params(v-else)
    label {{status.err}}


script(src="./js/setter-form.js")