@font-face{font-family:Orbitron;font-style:normal;font-weight:400;font-display:swap;src:url(fonts/Orbitron.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
@font-face{font-family:Orbitron;font-style:normal;font-weight:500;font-display:swap;src:url(fonts/Orbitron.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
@font-face{font-family:Orbitron;font-style:normal;font-weight:600;font-display:swap;src:url(fonts/Orbitron.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
@font-face{font-family:Orbitron;font-style:normal;font-weight:700;font-display:swap;src:url(fonts/Orbitron.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
*{letter-spacing:1px;font-family:Orbitron,'Noto Sans TC',sans-serif}
:root{--q-color-primary:#42e3b3}
.screen,body,html{width:100%;height:100%;overflow:hidden;background:#14191a}
::-moz-selection{background-color:#ff9447;color:#fff}
::selection{background-color:#ff9447;color:#fff}
::-webkit-scrollbar{width:5px;height:5px;-webkit-transition-duration:.4s;transition-duration:.4s}
::-webkit-scrollbar-track{-webkit-transition-duration:.4s;transition-duration:.4s;background:rgba(79,194,244,.1);border-radius:999px}
::-webkit-scrollbar-thumb{background:rgba(79,194,244,.8);-webkit-transition-duration:.4s;transition-duration:.4s;border-radius:999px}
::-webkit-scrollbar-thumb:hover{-webkit-transition-duration:.4s;transition-duration:.4s;background:rgba(79,194,244,.3)}
[v-cloak]{display:none!important}
.d-none{display:none!important}
.pe-none{pointer-events:none!important}
.w-10px{width:10px!important}
.w-20px{width:20px!important}
.w-30px{width:30px!important}
.w-40px{width:40px!important}
.w-100px{width:100px!important}
.w-200px{width:200px!important}
.w-30{width:30%!important}
.w-40{width:40%!important}
.w-50{width:50%!important}
.w-60{width:60%!important}
.w-100{width:100%!important}
.h-auto{height:auto!important}
.h-100{height:100%!important}
.mt-10px{margin-top:10px!important}
.mb-10px{margin-bottom:10px!important}
.mr-5px{margin-right:5px!important}
.mr-10px{margin-right:10px!important}
.ml-5px{margin-left:5px!important}
.ml-10px{margin-left:10px!important}
.ml-20px{margin-left:20px!important}
.fw-600{font-weight:600!important}
.fw-700{font-weight:700!important}
.fs-12{font-size:12px!important}
.fs-14{font-size:14px!important}
.fs-16{font-size:16px!important}
.fs-18{font-size:18px!important}
.fs-20{font-size:20px!important}
.fs-24{font-size:24px!important}
.color-red{color:#FF5858}
.word-break{word-wrap:break-word!important;white-space:pre!important}
.flex-none{-webkit-box-flex:0!important;-webkit-flex:none!important;-ms-flex:none!important;flex:none!important}
.flex-0d1{-webkit-box-flex:.1!important;-webkit-flex:.1!important;-ms-flex:.1!important;flex:.1!important}
.flex-0d2{-webkit-box-flex:.2!important;-webkit-flex:.2!important;-ms-flex:.2!important;flex:.2!important}
.flex-0d3{-webkit-box-flex:.3!important;-webkit-flex:.3!important;-ms-flex:.3!important;flex:.3!important}
.flex-0d4{-webkit-box-flex:.4!important;-webkit-flex:.4!important;-ms-flex:.4!important;flex:.4!important}
.flex-0d5{-webkit-box-flex:.5!important;-webkit-flex:.5!important;-ms-flex:.5!important;flex:.5!important}
.flex-1{-webkit-box-flex:1!important;-webkit-flex:1!important;-ms-flex:1!important;flex:1!important}
.flex-2{-webkit-box-flex:2!important;-webkit-flex:2!important;-ms-flex:2!important;flex:2!important}
.flex-2d5{-webkit-box-flex:2.5!important;-webkit-flex:2.5!important;-ms-flex:2.5!important;flex:2.5!important}
.flex-3{-webkit-box-flex:3!important;-webkit-flex:3!important;-ms-flex:3!important;flex:3!important}
.flex-4{-webkit-box-flex:4!important;-webkit-flex:4!important;-ms-flex:4!important;flex:4!important}
.ta-l{text-align:left!important}
.ta-r{text-align:right!important}
.ta-c{text-align:center!important}
.opacity-0d3{opacity:.3}
.opacity-0d5{opacity:.5}
.opacity-0d8{opacity:.8}