<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Zigbee Broker v</title>
    <link rel="stylesheet" href="css/1.10.3-quasar.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/element.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="fonts/fonts.css">
    <!--link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons")-->
    <!--link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron:400,500,600,700&display=swap")-->
    <!--link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional")-->
  </head>
  <body> 
    <div class="screen" @click.self="screenClick()" v-cloak>
      <transition-group class="card-content" name="card" tag="div" :class="{'humble': menu.option.show}">
        <module-card v-for="(card, path) in cardVal" :ref="path" :path="path" :key="path" @setting="cardSettingEvent" @delete="deleteCard"></module-card>
      </transition-group>
      <transition name="move-left">
        <div class="path-list" v-if="menu.com.show" @mouseleave="menu.com.show = false">
          <div class="path-btn" v-for="com in comList" :key="com.path" :class="{'exist': com.exist}" @click="switchCard(com.path)">
            <label>{{com.path}}</label>
            <label class="fs-12">{{com.manufacturer}}　</label>
          </div>
        </div>
      </transition>
      <div class="menu lb" @mouseenter="menu.com.show = true" :class="{'hover': menu.com.show}"></div>
      <div class="menu rb" @mouseenter="menu.option.show = true" :class="{'hover': menu.option.show}"></div>
      <transition name="move-right">
        <div class="app-option" v-if="menu.option.show">
          <q-list>
            <q-expansion-item label="資源設定" icon="folder_open" caption="參數檔、命令檔 •••">
              <div class="option-item">
                <label>參數檔路徑</label>
                <div class="ctrl">
                  <input class="text">
                  <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14', 'word-break']">HI</q-tooltip>
                </div>
              </div>
              <div class="option-item">
                <label>命令檔路徑</label>
                <div class="ctrl">
                  <input class="text">
                </div>
              </div>
            </q-expansion-item>
            <q-expansion-item label="功能設定" icon="toc" caption="全域變數儲存 •••">
              <div class="option-item">
                <label>BPS</label>
              </div>
            </q-expansion-item>
            <q-item @click="menu.option.show = false" clickable>
              <q-item-section>
                <q-avatar icon="close"></q-avatar>
              </q-item-section>
              <q-item-section>關閉設定</q-item-section>
            </q-item>
          </q-list>
        </div>
      </transition>
      <transition name="curtain">
        <div class="curtain" v-if="!status.isReady">
          <h1>Zigbee Broker</h1>
        </div>
      </transition>
    </div>
    <script src="js/asset/2.6.11-vue.min.js"></script>
    <script src="js/asset/2.24.0-moment.js"></script>
    <script src="js/asset/1.6.3-mousetrap.js"></script>
    <script src="js/asset/1.10.3-quasar.umd.min.js"></script>
    <script src="js/asset/1.10.3-zh-hant.umd.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>