
<template>
  <div class="modules-params" v-if="status.err === ''">
    <transition-group class="params-form" name="list" tag="div">
      <div class="param-item" v-for="param in params" :key="param.key">
        <transition name="param-item" mode="out-in">
          <!-- 單一數值-->
          <div class="param-section" v-if="param.ctrl === 'Number'" :key="param.timestamp">
            <div class="label" :msg="param.key" :class="param.class">{{param.name}}
              <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="bottom left" self="top left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
            </div>
            <div class="ctrl">
              <input class="number" :value="param.value" readonly="readonly" type="text"/>
            </div>
          </div>
          <!-- Select-->
          <div class="param-section" v-else-if="param.ctrl === 'Select'" :key="param.timestamp">
            <div class="label" :msg="param.key" :class="param.class">{{param.name}}
              <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="bottom left" self="top left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
            </div>
            <div class="ctrl">
              <select :value="param.value">
                <option value="NONE" disabled="disabled">NONE</option>
                <option v-for="listItem in param.list" disabled="disabled" :key="listItem.val" :value="listItem.val">{{listItem.description}}</option>
              </select>
            </div>
          </div>
          <!--  長度大於 5 的 Array-->
          <div class="param-section v" v-else-if="param.ctrl === 'Array'
                          &amp;&amp; param.value.length &gt;= 5" :key="param.timestamp">
            <div class="label" :msg="param.key" :class="param.class">{{param.name}}
              <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="bottom left" self="top left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
            </div>
            <div class="ctrl">
              <input class="array" :value="showArray(param.value, ' ')" readonly="readonly" type="text"/>
            </div>
          </div>
          <!-- Array-->
          <div class="param-section" v-else-if="param.ctrl === 'Array'" :key="param.timestamp">
            <div class="label" :msg="param.key" :class="param.class">{{param.name}}
              <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="bottom left" self="top left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
            </div>
            <!--.ctrl
            input(v-for="item in param.value"
                  :value="item" readonly
                  type="text").array
            -->
            <div class="ctrl">
              <input class="array" :value="showArray(param.value, ' ')" readonly="readonly" type="text"/>
            </div>
          </div>
          <div class="param-section" v-else="v-else">
            <label>未定義的資料組件 {{param.ctrl}}</label>
          </div>
        </transition>
      </div>
    </transition-group>
  </div>
  <div class="modules-params" v-else="v-else">
    <label>{{status.err}}</label>
  </div>
</template>
<script src="./js/params-form.js"></script>