
<template>
  <div class="card-frame" @click="selected()" :class="{'selected': status.isSelected}" :key="path" v-cloak="v-cloak">
    <div class="shape lt"></div>
    <div class="shape lb"></div>
    <div class="shape rt"></div>
    <div class="shape rb"></div>
    <div class="d-none">{{cardSetting}}</div>
    <div class="serial-card">
      <div class="header">
        <div class="header-item">
          <label class="path" :class="{'active': status.isPortOpen}">{{com.path}}</label>
          <div class="module-detail" :class="{'active': status.isPortOpen}">
            <template v-if="!autoHelper.moduleDetailNotSet">
              <label class="type">{{module.type}}</label>
              <label class="id">{{module.id}} - v{{module.ver}}</label>
            </template>
            <template v-else="v-else">
              <label class="opacity-0d8">請完成「模組設定」</label>
            </template>
          </div>
          <div class="action">
            <div class="action-btn switch" @click="switchPort()" :class="{'active': status.isPortOpen}"></div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="title" v-if="panelVal.key">顯示面板類型：{{panelVal.name}} {{panelVal.key}}</div>
        <div class="c-row">
          <!-- 顯示模組參數-->
          <params-form :panel="panelVal" :moduleParams="moduleParams" :receiveData="module.params"></params-form>
          <div class="br v mr-10px ml-10px"></div>
          <!-- 發送命令-->
          <setter-form v-if="!status.isRecordLoading" :panel="panelVal" :moduleParams="moduleParams" :moduleCmds="moduleCmds" :setterRecord="setter" :isPortOpen="status.isPortOpen" :path="path" @setterChange="setterSetterChange" @send="setterSend" @msg="setterMsg" ref="setter"></setter-form>
        </div>
        <div class="br mt-10px"></div>
        <!-- 資料收發區-->
        <div class="transceiver">
          <div class="input">
            <input v-model="input.val" @keyup.enter="sendInput"/>
            <transition name="send" mode="out-in">
              <div class="effect" :key="input.timestamp"></div>
            </transition>
          </div>
          <template>
            <div class="textarea" v-if="textarea.display.val === 'time'" ref="dataTextarea">
              <div class="text-item" v-for="data in textarea.datas" :style="textareaStyle">
                <div class="date">{{formatTimestamp(data.timestamp)}}</div>
                <div class="text" v-html="data.data"></div>
              </div>
            </div>
            <div class="textarea" v-else="v-else" :style="textareaStyle" v-html="textareaString" ref="dataTextarea">   </div>
          </template>
        </div>
      </div>
      <!-- 設定區-->
      <transition name="opacity">
        <div class="option" v-if="status.showOption">
          <q-list>
            <q-expansion-item icon="toc" label="模組設定" :default-opened="autoHelper.moduleDetailNotSet" caption="類型、型號 •••">
              <div class="option-item">
                <div class="label">模組</div>
                <q-select v-model="module.type" @input-value="(val) =&gt; qSelectInput(val, 'type')" :options="moduleSelectData.type" use-input="use-input" dark="dark"></q-select>
              </div>
              <div class="option-item">
                <div class="label">型號</div>
                <q-select v-model="module.id" @input-value="(val) =&gt; qSelectInput(val, 'id')" :options="moduleSelectData.id" use-input="use-input" dark="dark"></q-select>
              </div>
              <div class="option-item">
                <div class="label">版本</div>
                <q-select v-model="module.ver" @input-value="(val) =&gt; qSelectInput(val, 'ver')" :options="moduleSelectData.ver" use-input="use-input" dark="dark"></q-select>
              </div>
              <div class="option-item">
                <div class="label">面板</div>
                <q-select v-model="module.panel" :options="moduleSelectData.panel" dark="dark" style="width: 150px"></q-select>
              </div>
            </q-expansion-item>
            <q-expansion-item icon="settings_power" label="串列通訊設定" caption="BPS、校驗位、停止位 •••">
              <div class="option-item">
                <div class="label">BPS</div>
                <input class="text" v-model.number="com.option.baudRate"/>
              </div>
              <div class="option-item">
                <div class="label">buffer</div>
                <input class="text" v-model.number="com.option.highWaterMark"/>
              </div>
              <div class="option-item">
                <div class="label">位元數</div>
                <input class="text" v-model.number="com.option.dataBits"/>
              </div>
              <div class="option-item">
                <div class="label">停止位</div>
                <input class="text" v-model.number="com.option.stopBits"/>
              </div>
              <div class="option-item">
                <div class="label">校驗位</div>
                <input class="text" v-model.number="com.option.parity"/>
              </div>
            </q-expansion-item>
            <q-expansion-item icon="tab" label="卡片功能設定" caption="是否自動捲動、自動清空 •••">
              <div class="option-item">
                <div class="label">發送後清空</div>
                <input class="checkbox" v-model="com.option.sendClear" type="checkbox"/>
              </div>
              <div class="option-item">
                <div class="label">貼底自動捲動</div>
                <input class="checkbox" v-model="com.option.autoScroll" type="checkbox"/>
              </div>
            </q-expansion-item>
            <q-expansion-item icon="book" label="顯示樣式設定" caption="系統提示文字字級、字距 •••">
              <div class="option-item">
                <div class="label">字級</div>
                <input class="w-100px flex-none text" v-model.number="textarea.style.fontSize.val" type="number"/>
                <input class="w-100px flex-none text" v-model="textarea.style.fontSize.unit"/>
              </div>
              <div class="option-item">
                <div class="label">行高</div>
                <input class="w-100px flex-none text" v-model.number="textarea.style.lineHeight.val" type="number"/>
                <input class="w-100px flex-none text" v-model="textarea.style.lineHeight.unit"/>
              </div>
              <div class="option-item">
                <div class="label">字距</div>
                <input class="w-100px flex-none text" v-model.number="textarea.style.letterSpacing.val" type="number"/>
                <input class="w-100px flex-none text" v-model="textarea.style.letterSpacing.unit"/>
              </div>
            </q-expansion-item>
            <q-item @click="status.showOption = false" clickable="clickable">
              <q-item-section>
                <q-avatar icon="close"></q-avatar>
              </q-item-section>
              <q-item-section>關閉設定</q-item-section>
            </q-item>
          </q-list>
        </div>
      </transition>
      <!-- 卡片右鍵選單-->
      <q-menu content-class="card-context-menu" context-menu="context-menu">
        <q-list>
          <q-item @click="status.showOption = !status.showOption" :class="{'active': status.showOption}" clickable="clickable" v-close-popup="true">
            <q-item-section>細節設定</q-item-section>
          </q-item>
          <q-item @click="clearTextarea()" clickable="clickable" v-close-popup="true">
            <q-item-section>清空接收訊息</q-item-section>
          </q-item>
          <q-separator></q-separator>
          <q-item @click="deleteCard" clickable="clickable" v-close-popup="true">
            <q-item-section>刪除卡片</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </div>
  </div>
</template>
<script src="./js/serial-card.js"></script>