
<template>
  <div class="setter-params" v-if="status.err === ''">
    <transition-group class="setter-form" name="list" tag="div">
      <div class="setter-item" v-for="(setter, i) in setterList" :key="setter.key + '-' + i">
        <hr v-if="i % 5 === 0 &amp;&amp; i !== 0"/>
        <!-- 不須參數-->
        <div class="setter-section" v-if="setter.noParams">
          <div class="setter-label">
            <div class="label" :msg="setter.key" :class="setter.class">{{setter.name}}
              <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{setter.key}}<br>{{setter.description}}</q-tooltip>
            </div>
            <transition name="btn" mode="out-in">
              <div class="btn" @click="sendSetting(setters[i], setter)" :class="{'lock': !isPortOpen}" :key="setters[i].timestamp">
                <div class="btn-shape rt"></div>
                <div class="btn-shape rb"></div>
                <div class="btn-shape lt"></div>
                <div class="btn-shape lb"></div>
              </div>
            </transition>
          </div>
        </div>
        <!-- 需要參數-->
        <div class="setter-section h" v-else="v-else">
          <div class="c-col w-100 mr-5px">
            <input class="accordion" v-model="setters[i].isMinify" type="checkbox" :id="path + '-' + setter.key + '-' + i" checked="checked"/>
            <label class="setter-label accordion" :for="path + '-' + setter.key + '-' + i">
              <div class="label" :msg="setter.key" :class="setter.class">{{setter.name}}
                <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{setter.key}}<br>{{setter.description}}</q-tooltip>
              </div>
            </label>
            <div class="ctrl">
              <div class="ctrl-section" v-for="(param, key) in setter.params">
                <!-- 單一數值-->
                <div class="ctrl-item" v-if="param.ctrl === 'Number'">
                  <div class="label">▸ {{param.name}}
                    <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
                  </div>
                  <div class="ctrl-sub-item" :class="setters[i].params[key].class">
                    <input class="number" v-model.trim="setters[i].params[key].value" type="text" @change="emitSetterChange()"/>
                    <q-tooltip transition-show="" transition-hide="" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                            {'d-none': setters[i].params[key].class !== 'err'},
                            setters[i].params[key].class]">{{setters[i].params[key].msg}}</q-tooltip>
                  </div>
                </div>
                <!-- select 下拉選單-->
                <div class="ctrl-item" v-else-if="param.ctrl === 'Select'">
                  <div class="label">▸ {{param.name}}
                    <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
                  </div>
                  <div class="ctrl-sub-item" :class="setters[i].params[key].class">
                    <select v-model="setters[i].params[key].value" type="text" @change="emitSetterChange()">
                      <option v-for="item in param.list" :value="item.val">{{item.description}}</option>
                    </select>
                    <q-tooltip transition-show="" transition-hide="" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                            {'d-none': setters[i].params[key].class !== 'err'},
                            setters[i].params[key].class]">{{setters[i].params[key].msg}}</q-tooltip>
                  </div>
                </div>
                <!-- 長矩陣-->
                <div class="ctrl-item v" v-else-if="param.ctrl === 'Array'
                                        &amp;&amp; param.max.length &gt;= 5">
                  <div class="label">▸ {{param.name}}
                    <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
                  </div>
                  <div class="ctrl-sub-item" :class="setters[i].params[key].class">
                    <input class="l-array" v-model.trim="setters[i].params[key].value" type="text" @change="emitSetterChange()"/>
                    <q-tooltip transition-show="" transition-hide="" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                            {'d-none': setters[i].params[key].class !== 'err'},
                            setters[i].params[key].class]">{{setters[i].params[key].msg}}</q-tooltip>
                  </div>
                </div>
                <!-- 矩陣-->
                <div class="ctrl-item" v-else-if="param.ctrl === 'Array'">
                  <div class="label">▸ {{param.name}}
                    <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
                  </div>
                  <div class="ctrl-sub-item" :class="setters[i].params[key].class">
                    <input class="array" v-model.trim="setters[i].params[key].value" type="text" @change="emitSetterChange()"/>
                    <q-tooltip transition-show="" transition-hide="" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                            {'d-none': setters[i].params[key].class !== 'err'},
                            setters[i].params[key].class]">{{setters[i].params[key].msg}}</q-tooltip>
                  </div>
                </div>
                <div class="ctrl-item" v-else="v-else">
                  <div class="label err">▸ 未定義參數</div>
                </div>
              </div>
            </div>
          </div>
          <transition name="btn" mode="out-in">
            <div class="btn" @click="sendSetting(setters[i], setter)" :class="{'lock': !isPortOpen}" :key="setters[i].timestamp">
              <div class="btn-shape rt"></div>
              <div class="btn-shape rb"></div>
              <div class="btn-shape lt"></div>
              <div class="btn-shape lb"></div>
            </div>
          </transition>
        </div>
      </div>
    </transition-group>
  </div>
  <div class="setter-params" v-else="v-else">
    <label>{{status.err}}</label>
  </div>
</template>
<script src="./js/setter-form.js"></script>